In [2]:
import pandas as pd

In [4]:
df_1 = pd.read_csv("2015.csv")
df_2 =  pd.read_csv("2016.csv")

In [13]:
global_happiness = pd.merge(df_1,df_2, on= "Country")
global_happiness = global_happiness.rename(columns={"Happiness Rank_x" :"Happiness Rank_2015"})

In [ ]:
nuevos_nombres = []
for i in global_happiness.columns:
    if "_x" in i:
        nuevos_nombres.append(i.replace("_x","_2015"))
    elif "_y" in i:
        nuevos_nombres.append(i.replace("_y","_2016"))
    else:
        nuevos_nombres.append(i)

In [17]:
global_happiness.columns = nuevos_nombres
global_happiness

,Country,Region_2015,Happiness Rank_2015,Happiness Score_2015,Standard Error,Economy (GDP per Capita)_2015,Family_2015,Health (Life Expectancy)_2015,Freedom_2015,Trust (Government Corruption)_2015,...,Happiness Score_2016,Lower Confidence Interval,Upper Confidence Interval,Economy (GDP per Capita)_2016,Family_2016,Health (Life Expectancy)_2016,Freedom_2016,Trust (Government Corruption)_2016,Generosity_2016,Dystopia Residual_2016
0,Switzerland,Western Europe,1,7.587,0.03411,1.39651,1.34951,0.94143,0.66557,0.41978,...,7.509,7.428,7.590,1.52733,1.14524,0.86303,0.58557,0.41203,0.28083,2.69463
1,Iceland,Western Europe,2,7.561,0.04884,1.30232,1.40223,0.94784,0.62877,0.14145,...,7.501,7.333,7.669,1.42666,1.18326,0.86733,0.56624,0.14975,0.47678,2.83137
2,Denmark,Western Europe,3,7.527,0.03328,1.32548,1.36058,0.87464,0.64938,0.48357,...,7.526,7.460,7.592,1.44178,1.16374,0.79504,0.57941,0.44453,0.36171,2.73939
3,Norway,Western Europe,4,7.522,0.03880,1.45900,1.33095,0.88521,0.66973,0.36503,...,7.498,7.421,7.575,1.57744,1.12690,0.79579,0.59609,0.35776,0.37895,2.66465
4,Canada,North America,5,7.427,0.03553,1.32629,1.32261,0.90563,0.63297,0.32957,...,7.404,7.335,7.473,1.44015,1.09610,0.82760,0.57370,0.31329,0.44834,2.70485
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
146,Rwanda,Sub-Saharan Africa,154,3.465,0.03464,0.22208,0.77370,0.42864,0.59201,0.55191,...,3.515,3.444,3.586,0.32846,0.61586,0.31865,0.54320,0.50521,0.23552,0.96819
147,Benin,Sub-Saharan Africa,155,3.340,0.03656,0.28665,0.35386,0.31910,0.48450,0.08010,...,3.484,3.404,3.564,0.39499,0.10419,0.21028,0.39747,0.06681,0.20180,2.10812
148,Syria,Middle East and Northern Africa,156,3.006,0.05015,0.66320,0.47489,0.72193,0.15684,0.18906,...,3.069,2.936,3.202,0.74719,0.14866,0.62994,0.06912,0.17233,0.48397,0.81789
149,Burundi,Sub-Saharan Africa,157,2.905,0.08658,0.01530,0.41587,0.22396,0.11850,0.10062,...,2.905,2.732,3.078,0.06831,0.23442,0.15747,0.04320,0.09419,0.20290,2.10404
150,Togo,Sub-Saharan Africa,158,2.839,0.06727,0.20868,0.13995,0.28443,0.36453,0.10731,...,3.303,3.192,3.414,0.28123,0.00000,0.24811,0.34678,0.11587,0.17517,2.13540

In [6]:
df = pd.read_csv("Mental health Depression disorder Data.csv")
df

C:\Users\rafac\AppData\Local\Temp\ipykernel_13864\1925682954.py:1: DtypeWarning: Columns (5,6) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("Mental health Depression disorder Data.csv")

,index,Entity,Code,Year,Schizophrenia (%),Bipolar disorder (%),Eating disorders (%),Anxiety disorders (%),Drug use disorders (%),Depression (%),Alcohol use disorders (%)
0,0,Afghanistan,AFG,1990,0.16056,0.697779,0.101855,4.828830,1.677082,4.071831,0.672404
1,1,Afghanistan,AFG,1991,0.160312,0.697961,0.099313,4.829740,1.684746,4.079531,0.671768
2,2,Afghanistan,AFG,1992,0.160135,0.698107,0.096692,4.831108,1.694334,4.088358,0.670644
3,3,Afghanistan,AFG,1993,0.160037,0.698257,0.094336,4.830864,1.705320,4.096190,0.669738
4,4,Afghanistan,AFG,1994,0.160022,0.698469,0.092439,4.829423,1.716069,4.099582,0.669260
...,...,...,...,...,...,...,...,...,...,...,...
108548,108548,Zimbabwe,ZWE,2013,303564.60359,NaN,NaN,NaN,NaN,NaN,NaN
108549,108549,Zimbabwe,ZWE,2014,311665.769283,NaN,NaN,NaN,NaN,NaN,NaN
108550,108550,Zimbabwe,ZWE,2015,320638.507158,NaN,NaN,NaN,NaN,NaN,NaN
108551,108551,Zimbabwe,ZWE,2016,330437.353798,NaN,NaN,NaN,NaN,NaN,NaN
108552,108552,Zimbabwe,ZWE,2017,340583.157405,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
df

,Comunidades y ciudades autónomas de defunción,Sexo,Edad,Total
0,Total,Ambos sexos,Todas las edades,4.227
1,Total,Ambos sexos,Menores de 15 años,12.000
2,Total,Ambos sexos,De 15 a 29 años,341.000
3,Total,Ambos sexos,De 30 a 39 años,436.000
4,Total,Ambos sexos,De 40 a 44 años,350.000
...,...,...,...,...
955,Melilla,Mujeres,De 75 a 79 años,0.000
956,Melilla,Mujeres,De 80 a 84 años,0.000
957,Melilla,Mujeres,De 85 a 89 años,0.000
958,Melilla,Mujeres,De 90 a 94 años,0.000
959,Melilla,Mujeres,De 95 años y más,0.000

In [6]:
df.head(20)

,Comunidades y ciudades autónomas de defunción,Sexo,Edad,Total
0,Total,Ambos sexos,Todas las edades,4.227
1,Total,Ambos sexos,Menores de 15 años,12.000
2,Total,Ambos sexos,De 15 a 29 años,341.000
3,Total,Ambos sexos,De 30 a 39 años,436.000
4,Total,Ambos sexos,De 40 a 44 años,350.000
5,Total,Ambos sexos,De 45 a 49 años,444.000
6,Total,Ambos sexos,De 50 a 54 años,486.000
7,Total,Ambos sexos,De 55 a 59 años,479.000
8,Total,Ambos sexos,De 60 a 64 años,385.000
9,Total,Ambos sexos,De 65 a 69 años,278.000
10,Total,Ambos sexos,De 70 a 74 años,275.000
11,Total,Ambos sexos,De 75 a 79 años,212.000
12,Total,Ambos sexos,De 80 a 84 años,216.000
13,Total,Ambos sexos,De 85 a 89 años,194.000
14,Total,Ambos sexos,De 90 a 94 años,94.000
15,Total,Ambos sexos,De 95 años y más,25.000
16,Total,Hombres,Todas las edades,3.126
17,Total,Hombres,Menores de 15 años,9.000
18,Total,Hombres,De 15 a 29 años,224.000
19,Total,Hombres,De 30 a 39 años,336.000

In [18]:
df_1 = pd.read_csv("2015.csv")

In [20]:
df_1["Year"] = 2015

In [22]:
df_2["Year"] = 2016

In [29]:
global_happiness_2 = pd.concat((df_1,df_2),ignore_index=True)

In [33]:
global_happiness_2.drop(["Lower Confidence Interval",  "Upper Confidence Interval", "Dystopia Residual"],axis = 1)

,Country,Region,Happiness Rank,Happiness Score,Standard Error,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Year
0,Switzerland,Western Europe,1,7.587,0.03411,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678,2015
1,Iceland,Western Europe,2,7.561,0.04884,1.30232,1.40223,0.94784,0.62877,0.14145,0.43630,2015
2,Denmark,Western Europe,3,7.527,0.03328,1.32548,1.36058,0.87464,0.64938,0.48357,0.34139,2015
3,Norway,Western Europe,4,7.522,0.03880,1.45900,1.33095,0.88521,0.66973,0.36503,0.34699,2015
4,Canada,North America,5,7.427,0.03553,1.32629,1.32261,0.90563,0.63297,0.32957,0.45811,2015
...,...,...,...,...,...,...,...,...,...,...,...,...
310,Benin,Sub-Saharan Africa,153,3.484,NaN,0.39499,0.10419,0.21028,0.39747,0.06681,0.20180,2016
311,Afghanistan,Southern Asia,154,3.360,NaN,0.38227,0.11037,0.17344,0.16430,0.07112,0.31268,2016
312,Togo,Sub-Saharan Africa,155,3.303,NaN,0.28123,0.00000,0.24811,0.34678,0.11587,0.17517,2016
313,Syria,Middle East and Northern Africa,156,3.069,NaN,0.74719,0.14866,0.62994,0.06912,0.17233,0.48397,2016
314,Burundi,Sub-Saharan Africa,157,2.905,NaN,0.06831,0.23442,0.15747,0.04320,0.09419,0.20290,2016